<ion-header class="ion-no-border" mode="ios" translucent>
  <ion-toolbar>
    <ion-title>Connect to Cups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (submit)="connect()">
    <ion-item>
      <ion-label position="floating">
        <ion-text color="medium">Cups Tor Address</ion-text>
      </ion-label>
      <ion-input name="torAddressInput" [(ngModel)]="torAddressInput"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-text color="medium">Password</ion-text>
      </ion-label>
      <ion-input type="password" name="passwordInput" [(ngModel)]="passwordInput"></ion-input>
    </ion-item>
    <ion-button class="ion-margin-top" [disabled]="!torAddressInput || !passwordInput" type="submit" expand="block" fill="outline">
      Connect
    </ion-button>
  </form>

</ion-content>