<ion-content [fullscreen]="true">

  <ng-container *ngIf="!iFrame">
    <form class="ion-margin" (submit)="connect()">
      <ion-item>
        <ion-label position="floating">
          <ion-text color="medium">Cups Tor Address</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="torAddress" name="torAddress"></ion-input>
      </ion-item>
      <ion-button class="ion-margin-top" [disabled]="!torAddress" type="submit" expand="block" fill="outline">
        Connect
      </ion-button>
    </form>
  </ng-container>

  <ng-container *ngIf="iFrame">
    <iframe id="frame" [src]="iFrame" class="full-screen"></iframe>
  </ng-container>

</ion-content>
